@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary-color: #ffc505;
  --secondary-color: #1b631b;
}

body,
html {
  color: var(--foreground);
  background: url(/background.jpg) lightgray 50% / cover no-repeat;
  font-family: "Recursive", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navBar {
  width: 100%;
  height: 5em;
  background: rgba(0, 0, 0, 0.21);
  box-shadow: 5px 4px 27px 0px rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(11.5px);
}

.logo {
  font-size: 1.4em;
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn:hover {
  transition: 0.3s ease;
  background-color: var(--secondary-color);
  color: white;
}

.join_btn {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
}

.join_btn:hover {
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  color: black;
  border: 2px solid var(--secondary-color);
}

/* Hover menu items */

.menu-items a {
  position: relative;
  display: inline-block;
  padding-bottom: 0.3em;
}

.menu-items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1em;
  background-color: var(--primary-color);
  transition: 0.3s ease;
}

.menu-items a:hover::after {
  width: 100%;
}

.footer {
  background-color: #171717;
}
